# air, templ, tailwindcss hot-reload crap
tmp/

# important ones
.*env

# css
tailwindcss
daisyui.js
daisyui-theme.js
output*.css

# js
htmx.min.js

# generated templ go files
*_templ.go

# test report
*cover*
