package layouts

import (
	"github.com/FilipusDev/filipus.dev.br/templates"
	"github.com/FilipusDev/filipus.dev.br/templates/components/site"
)

templ App(content templ.Component) {
	@site.Header()
	<div class="pb-16"></div>
	<main class="flex-grow">
		@templates.Hello("Eficia!!!")
	</main>
	<div class="lg:hidden">
		@site.FooterMobile()
	</div>
	<div class="hidden lg:block">
		@site.FooterDesktop()
	</div>
}
