@import "tailwindcss" source(none);
@source "../../templates/**/*.{templ}";

@theme {
  --font-display: "Geist Sans", system-ui, -apple-system, sans-serif;

  --color-blue-excellence: #222e48; /* Azul Escuro Excelência */
  --color-white-efficiency: #f6f6f6; /* Branco Eficiência */
  --color-orange-energy: #f25c05; /* Laranja Energia */
  --color-blue-innovation: #b8d8f6; /* Azul Inovação */
}

@plugin "./daisyui.js";

@plugin "./daisyui-theme.js" {
  name: "eficia";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: var(--color-white-efficiency);
  --color-base-200: var(--color-white-efficiency);
  --color-base-300: var(--color-white-efficiency);
  --color-base-content: var(--color-blue-excellence);
  --color-primary: var(--color-blue-excellence);
  --color-primary-content: var(--color-white-efficiency);
  --color-secondary: var(--color-blue-innovation);
  --color-secondary-content: var(--color-blue-excellence);
  --color-accent: var(--color-orange-energy);
  --color-accent-content: var(--color-white-efficiency);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

body {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}
