package shared

import "github.com/FilipusDev/filipus.dev.br/templates/icons"

templ CtaButton() {
	<div class="flex justify-center py-16">
		<a href="https://wa.me/5511919181007" target="_blank">
			<button type="button" tabindex="0" role="button" class="btn btn-accent btn-lg hover:outline-2">
				@icons.WhatsApp()
				Entre em Contato
			</button>
		</a>
	</div>
}
