package icons

templ Bolt(optionalClasses ...string) {
	@BaseIcon(optionalClasses...) {
		<!--
tags: [energy, power, electricity, storm, lightning, flash]
version: "1.0"
unicode: "ea38"
-->
		<path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11"></path>
	}
}
