package icons

templ MenuHamburguer1(optionalClasses ...string) {
	@BaseIcon(optionalClasses...) {
		<!--
version: "2.24"
unicode: "fafb"
-->
		<path d="M4 6h16"></path>
		<path d="M7 12h13"></path>
		<path d="M10 18h10"></path>
	}
}
